.warmUp{
  position: relative;
  text-align: center;
  padding: 4vw 0 4vw 0;
  background-color: #E2F3F7;
  .wu-dec-box-1{
    padding: 4.7vw 0 0 0;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    transform: translateY(1px);
    img{
      position: absolute;
      right: -1vw;
      bottom: 3.9vw;
      z-index: 20;
      transform: rotate(7deg);
      width: 70vw;
    }
    div{
      content: '';
      position: relative;
      width: 100%;
      aspect-ratio: 10 / 1.23;
      bottom: -1px;
      left: 0;
      background-color: #E2F3F7;
      z-index: 10;
      clip-path: polygon(0 0, 100% calc(100% - 1px), 100% 100%, 0 100%);
    }
  }
  .wu-dec-text-1{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    p{
      margin: 60px auto 0 auto;
      width: fit-content;
      color: #0055B4;
      font-size: 24px;
      padding: 0 15px;
      font-weight: bold;
    }
    .wu-dec-text-mv{
      display: none;
    }
    div{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #0055B4;
    }
  }
  iframe{
    width: 60%;
    aspect-ratio: 560 / 315;
    border-radius: 20px;
    margin: 90px 0 0 0;
  }
  a{
    margin: 90px auto 0 auto;
  }
}
@media (max-width: 800px) {
  .warmUp{
    padding: 10vw 0 10vw 0;
    .wu-dec-box-1{
      padding-top: 9vw;
      img{
        bottom: 4.1vw;
        width: 90vw;
      }
    }
    .wu-dec-text-1{
      p{
        margin: 40px auto 0 auto;
        font-size: 14px;
        padding: 5px 15px;
      }
      .wu-dec-text-pc{
        display: none;
      }
      .wu-dec-text-mv{
        display: block;
      }
    }
    iframe{
      max-width: 450px;
      width: 80%;
      margin: 40px 0 0 0;
    }
    a{
      margin: 40px auto 0 auto;
    }
  }
}