.notes{
  background-color: #E2F3F7;
  padding: 7vw 13vw 70px 13vw ;
  position: relative;
  .nt-dec-box-1{
    padding: 5.4vw 0 0 0;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    transform: translateY(1px);
    img{
      position: absolute;
      right: -1vw;
      bottom: 3.9vw;
      z-index: 20;
      transform: rotate(7deg);
      width: 70vw;
    }
    .nt-dec-img-mv{
      display: none;
    }
    div{
      content: '';
      position: relative;
      width: 100%;
      aspect-ratio: 10 / 1.23;
      bottom: -1px;
      left: 0;
      background-color: #E2F3F7;
      z-index: 10;
      clip-path: polygon(0 0, 100% calc(100% - 1px), 100% 100%, 0 100%);
    }
  }
  section{
    margin-top: 90px;
    ul{
      margin: 30px 0 0 20px;
      padding: 0 0 0 20px;
      li{
          font-size: 20px;
          font-weight: bold;
          color: #0055B4;
          line-height: 32px;
          padding: 15px 0 0 0;
        }
      }
  }
}
@media (max-width: 800px) {
  .notes{
    padding: 15vw 5vw 50px 5vw ;
    .nt-dec-box-1{
      padding: 24vw 0 0 0;
      img{
        right: -2.5vw;
        bottom: -0.5vw;
        width: 60vw;
      }
      .nt-dec-img-pc{
        display: none;
      }
      .nt-dec-img-mv{
        display: block;
      }
    }
    section{
      margin-top: 50px;
      ul{
        margin: 15px 0 0 0;
        padding: 0 0 0 20px;
        li{
            font-size: 12px;
            color: #0055B4;
            line-height: 26px;
            padding: 10px 0 0 0;
          }
        }
    }
  }
}