@keyframes spin {
  from { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  to { transform: translateX(-50%) translateY(-50%) rotate(360deg); }
}

.pageChange{
  position: fixed;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 100px;
  z-index: 200;
  cursor: pointer;
  @media (min-width: 801px) {
    :hover{
      img{
        animation: spin 2s linear infinite;
      }
    }
  }
  >div{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0055B4;
    font-weight: bold;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.8;
      z-index: -10;
      top: 0;
      left: 0;
    }
    p{
      font-size: 22px;
      width: 100%;
      margin: 3px 0 0 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      line-height: 22px;
      span{
        display: block;
        margin: -5px 0 0 0;
        font-size: 7px;
        font-weight: 900;
      }
    }
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation: spin 12s linear infinite;
    }
  }
}
@media (max-width: 800px) {
  .pageChange{
    top: 10px;
    left: 10px;
    width: 58px;
    height: 58px;
    >div{
      p{
        font-size: 12px;
        margin: 2.5px 0 0 0;
        line-height: 16px;
        span{
          margin: -6px 0 0 0;
          font-size: 4px;
        }
      }
    }
  }
}