.firstViewSub{
  background: url(../../../public//img//ft-bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0 29vw 0 ;
  .ft-dec-ex-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #48B4D8;
    z-index: 300;
  }
  .ft-dec-ex-2{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60vw;
    z-index: 300;
  }
  .fs-dec-img-1{
    margin: 0 auto;
    display: block;
    width: 35%;
  }
  h2{
    position: relative;
    margin: 60px auto 0 auto;
    padding: 5px 15px;
    width: fit-content;
    font-size: 24px;
    display: block;
    color: #fff;
    background-color: #1996C0;
    span{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #1996C0;
      z-index: 10;
    }
  }
}


@media (max-width: 800px) {
  .firstViewSub{
    background: url(../../../public//img//ft-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 40vw 0 ;
    .fs-dec-img-1{
      margin: 0 auto;
      display: block;
      width: 70%;
    }
    h2{
      margin: 90px auto 0 auto;
      padding: 5px 15px;
      width: fit-content;
      font-size: 18px;
      color: #fff;
      background-color: #1996C0;
    }
  }
}