.catch-copy{
  position: relative;
  z-index: 10;
  margin-top: -7.5%;
  background-color: #0055b4;
  padding: 200px 0 300px 0;
  .cp-dec-box-1{
    width: fit-content;
    margin: 0 auto 0 18%;
    p{
      text-align: center;
      margin: 0;
      font-size: 20px;
      color: #fff;
      line-height: 60px;
      span{
        color: #F0FC0B;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
  .cp-dec-box-2{
    position: absolute;
    width: 100%;
    height: 370px;
    bottom: 0;
    overflow: hidden;
    .cp-dec-line-1{
      position: absolute;
      width: 120%;
      height: 2px;
      background-color: #F0FC0B;
      transform: rotate(-7deg);
      z-index: 10;
      bottom: 10vw;
      left: -15px;
    }
    .cp-dec-line-1::after{
      position: absolute;
      content: '';
      width: 120%;
      height: 2px;
      top: 15px;
      z-index: 10;
      background-color: #F0FC0B;
    }
    .cp-dec-bg-1{
      position: absolute;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
      bottom: 0;
      width: 100%;
      height: 260px;
      background-color: #48B4D8;
    }
  }
}










@media (max-width: 800px) {
  .catch-copy{
    position: relative;
    z-index: 10;
    margin-top: -25%;
    background-color: #0055b4;
    padding: 55% 0 170px 0;
    overflow: hidden;
    .cp-dec-box-1{
      margin: 0 auto;
      p{
        text-align: center;
        margin: 0;
        font-size: 16px;
        color: #fff;
        line-height: 45px;
        span{
          color: #F0FC0B;
          font-size: 32px;
        }
      }
    }
    .cp-dec-box-2{
      position: absolute;
      width: 100%;
      height: 370px;
      bottom: 0;
      overflow: hidden;
      .cp-dec-line-1{
        position: absolute;
        width: 120%;
        height: 2px;
        background-color: #F0FC0B;
        transform: rotate(-7deg);
        z-index: 10;
        bottom: 23%;
        left: -15px;
      }
      .cp-dec-line-1::after{
        position: absolute;
        content: '';
        width: 120%;
        height: 2px;
        top: 15px;
        z-index: 10;
        background-color: #F0FC0B;
      }
      .cp-dec-bg-1{
        display: none;
      }
    }
  }
}