.first-viwe-Top{
  position: relative;
  background-color: #48B4D8;
  padding: 5vw 0 0 0;
  .ft-dec-ex-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #48B4D8;
    z-index: 110;
  }
  .ft-dec-ex-2{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60vw;
    z-index: 110;
  }
  .ft-title-text-1{
    position: absolute;
    z-index: 200;
    top: 35%;
    right: 24%;
    transform: translateX(50%) translateY(-50%);
    font-size: 2.5vw;
    font-weight: bold;
    color: #0055B4;
    display: flex;
    flex-direction: column;
    li{
      margin: 0 0 10px auto;
      position: relative;
      z-index: 200;
      h1{
        font-size: 36px;
        margin: 0;
        position: relative;
        z-index: 200;
        background-color: #F0FC0B;
        display: block;
        padding: 0 25px 0 0;
        white-space: nowrap;
        font-weight: 900;
        span{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #F0FC0B;
          z-index: 200;
        }
      }
    }
    li:nth-child(1),
    li:nth-child(3){
      color: #fff;
      -webkit-text-stroke: 2px rgb(0, 0, 0, 0.1);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
  video{
    width: 100%;
    position: relative;
    z-index: 30;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    clip-path: polygon(16% 0, 86% 14%, 100% 35%, 100% 42%, 81% 100%, 3% 81%, 0 76%, 0 19%);
  }
  .ft-video-frame{
    position: absolute;
    z-index: 50;
    width: 100%;
    top: 4.9vw;
  }
  ul{
    position: absolute;
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      p{
        margin: 0;
      }
      .ft-dec-1{
        position: relative;
        margin: auto 5px auto 0;
        width: 11.62px;
        height: 13.2px;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
        background-color: #fff;
        >div{
          position: absolute;
          top: 50%;
          left: 44.5%;
          transform: translateX(-50%) translateY(-50%);
          width: 7.04px;
          height: 7.4px;
          clip-path: polygon(3% 0, 3% 100%, 100% 50%);
          background-color: #0055B4;
        }
      }
    }
  }

  .ft-dec-text-1{
    top: 12.3%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(6.4deg);
    position: absolute;
    z-index: 70;
    display: flex;
    font-size: 12px;
    color: #fff;
    li{
      display: flex;
      margin: 0 15px 0 0;
    }
  }
  .ft-dec-text-2{
    top: 80%;
    right: 10.5%;
    transform: translateX(50%) rotate(120.1deg);
    position: absolute;
    z-index: 70;
    display: flex;
    font-size: 12px;
    color: #fff;
    li{
      display: flex;
      margin: 0 15px 0 0;
      align-items: center;
    }
  }
  .ft-new-challengers{
    position: absolute;
    transform: rotate(13deg);
    width: 45%;
    z-index: 60;
    bottom: 20%;
    left: -1%;
  }
  .ft-dec-box-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115%;
    overflow: hidden;
    z-index: 60;
    .ft-dec-line-1{
      position: absolute;
      background-color: #0055B4;
      z-index: 50;
      width: 80vw;
      height: 2px;
      top: 2vw;
      right: -20px;
      transform: rotate(12.7deg);
    }
    .ft-dec-line-1::after{
      content: "";
      position: absolute;
      background-color: #0055B4;
      width: 100%;
      height: 2px;
      top: 15px;
      right: 0;
    }
    .ft-dec-line-2{
      position: absolute;
      background-color: #F0FC0B;
      z-index: 110;
      width: 110vw;
      height: 2px;
      bottom: 18.5%;
      left: -3%;
      transform: rotate(12.7deg);
    }
    .ft-dec-line-2::after{
      content: "";
      position: absolute;
      background-color: #F0FC0B;
      z-index: 70;
      width: 100%;
      height: 2px;
      top: 15px;
      right: 0;
    }
  }
  .ft-dec-bg-1{
    margin-top: -7.6%;
    position: absolute;
    z-index: 20;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 77% 0, 27% 0, 0 82%);
    width: 100%;
    height: 22%;
    background-color: #48B4D8;
  }
}










@media (max-width: 800px) {
  .first-viwe-Top{
    position: relative;
    background-color: #48B4D8;
    padding: 80px 0 0 0;
    .ft-title-text-1{
      z-index: 80;
      top: 32%;
      right: 5%;
      transform: translateY(-50%);
      font-size: 4vw;
      font-weight: bold;
      color: #0055B4;
      display: flex;
      flex-direction: column;
      li{
        margin: 0 0 7px auto;
        h1{
          margin: 0;
          background-color: #F0FC0B;
          padding: 0 5px 0 5px;
          font-size: 20px;
          white-space: nowrap;
        }
      }
      li:nth-child(1),li:nth-child(3){
        color: #fff;
        -webkit-text-stroke: 2px rgb(0, 0, 0, 0.1);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .ft-video{
      overflow: hidden;
      video{
        clip-path: polygon(30% 16%, 39.6% 0, 65.2% 13%, 70% 32%, 70% 69%, 69% 100%, 30% 78%);
        width: 250%;
        height: auto;
        margin: 0 0 0 -75%;
      }
    }
    .ft-video-frame{
      position: absolute;
      z-index: 50;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
        top: 78px;
      }
      ul{
        position: absolute;
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          p{
            margin: 0;
          }
        }
      }
      .ft-dec-text-1{
        top: 120px;
        left: 60%;
        transform: translateX(-50%) rotate(16.2deg);
        position: absolute;
        z-index: 70;
        display: flex;
        font-size: 10px;
        color: #fff;
        li{
          display: flex;
          margin: 0 10px 0 0;
          &:nth-child(1){
            margin-right: -15px;
          }
        }
        li:nth-child(1){
          p{
            width: 100px;
          }
        }
        li:nth-child(2){
          p{
            width: 130px;
          }
        }
      }
      @media (max-width: 700px){
        .ft-dec-text-1{
          top: 110px;
        }
        @media (max-width: 520px){
          .ft-dec-text-1{
            top: 100px;
          }
          @media (max-width: 430px){
            .ft-dec-text-1{
              top: 93px;
            }
          }
        }
      }
      .ft-dec-text-2{
        top: 106.2%;
        left: 50%;
        transform: translateX(-50%) rotate(12.7deg);
        position: absolute;
        z-index: 70;
        display: flex;
        font-size: 12px;
        color: #fff;
        width: 297px;
        li{
          display: flex;
          margin: 0 0 0 15px;
          align-items: center;
        }
        li:nth-child(1){
          p{
            width: 96px;
          }
        }
        li:nth-child(2){
          p{
            width: 153px;
          }
        }
      }
    .ft-new-challengers{
      position: absolute;
      width: 100%;
      z-index: 60;
      bottom: 20px;
      left: 0;
      transform: rotate(0deg);
    }
    .ft-dec-box-1{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      overflow: hidden;
      .ft-dec-line-1{
        position: absolute;
        background-color: #0055B4;
        z-index: 110;
        width: 80vw;
        height: 2px;
        top: 10vw;
        right: -20%;
        transform: rotate(43deg);
      }
      .ft-dec-line-1::after{
        content: "";
        position: absolute;
        background-color: #0055B4;
        z-index: 70;
        width: 100%;
        height: 2px;
        top: 15px;
        right: 0;
      }
      .ft-dec-line-2{
        position: absolute;
        background-color: #F0FC0B;
        z-index: 110;
        width: 120%;
        height: 2px;
        bottom: 7.5%;
        left: -15px;
        transform: rotate(12.7deg);
      }
      .ft-dec-line-2::after{
        content: "";
        position: absolute;
        background-color: #F0FC0B;
        z-index: 70;
        width: 100%;
        height: 2px;
        top: 15px;
        right: 0;
      }
    }
    .ft-dec-bg-1{
      margin-top: -25.1%;
      position: absolute;
      z-index: 20;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 0, 27% 0, 0 40%);
      width: 100%;
      height: 26%;
      background-color: #48B4D8;
    }
  }
}