.pickUp{
  padding: 13vw 0 0 0;
  .pu-dec-box-1{
    position: relative;
    margin-top: -13vw;
    width: 100%;
    aspect-ratio: 10 / 1.23;
    .pu-dec-box-2{
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      img{
        position: absolute;
        left: 0;
        top: 13vw;
        z-index: 20;
        transform: rotate(-7deg);
        width: 33vw;
      }
      div{
        content: '';
        position: relative;
        width: 100%;
        aspect-ratio: 10 / 1.23;
        bottom: -1px;
        left: 0;
        background-color: #ffffff;
        z-index: 10;
        clip-path: polygon(0 calc(100% - 1px), 100% 0, 100% 100%, 0 100%);
      }
    }
  }
  .pu-title-box-1,
  .pu-title-box-2{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    h3{
      width: fit-content;
      color: #0055B4;
      font-size: 24px;
      padding: 0 15px;
      font-weight: bold;
    }
    div{
      position: absolute;
      top: 0;
      left: 0;
      background-color: #0055B4;
      width: 100%;
      height: 100%;
    }
  }
  .pu-slider {
    overflow: hidden;
    .pu-wrap {
      display: flex;
      margin: 5vw 0;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        position: relative;
        z-index: 0;
        &:hover {
          z-index: 10;
        }
        li {
          display: flex;
          div{
            overflow: hidden;
            position: relative;
            aspect-ratio: 600 / 420;
            width: 20vw;
            height: auto;
            margin: 1vw;
            transition: all 0.2s;
            &:hover {
              transform: scale(1.5);
              z-index: 10;
            }
            clip-path: polygon(0 0, calc(100% - 1.5vw) 0%, 100% calc(0% + 1.5vw), 100% 100%, calc(0% + 1.5vw) 100%, 0 calc(100% - 1.5vw));
            &::after{
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #48B4D8;
              top: 0;
              left: 0;
              clip-path: polygon(0 0, calc(100% - 1.5vw) 0%, 100% calc(0% + 1.5vw), 100% 100%, calc(0% + 1.5vw) 100%, 0 calc(100% - 1.5vw), calc(0% + 5px) calc(100% - (1.5vw + 2px)), calc(0% + (1.5vw + 2px)) calc(100% - 5px), calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) calc(1.5vw + 2px), calc(100% - (1.5vw + 2px)) 5px, 5px 5px, 5px calc(100% - (1.5vw + 2px)), 0px calc(100% - 1.5vw));
            }
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              display: block;
              width: auto;
              height: 100%;
            }
          }
        }
      }
    }
    .pu-wrap:nth-child(1) ul{
      animation: loop-slide-r 27s infinite linear;
    }
    .pu-wrap:nth-child(2){
      margin-top: -5vw;
    }
    .pu-wrap:nth-child(2) ul {
      animation: loop-slide-l 27s infinite linear;
    }
    .pu-wrap:hover ul {
      animation-play-state: paused;
    }
  }
  @keyframes loop-slide-r {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes loop-slide-l {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media (max-width: 800px) {
  .pickUp{
    padding: 28vw 0 0 0;
    .pu-dec-box-1{
      margin-top: -28vw;
      aspect-ratio: 10 / 2.5;
      .pu-dec-box-2{
        img{
          width: 55vw;
        }
      }
    }
    .pu-title-box-1,
    .pu-title-box-2{
      h3{
        margin: 40px auto 0 auto;
        font-size: 14px;
        padding: 5px 15px;
      }
    }
    .pu-slider {
      margin: 5vw 0 0 0;
      opacity: 0.4;
      overflow: hidden;
      .pu-wrap {
        margin: 5vw 0;
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          position: relative;
          z-index: 0;
          &:hover {
            z-index: 10;
          }
          li {
            display: flex;
            flex-direction: column;
            div{
              overflow: hidden;
              position: relative;
              aspect-ratio: 600 / 420;
              width: 30vw;
              height: auto;
              margin: 3vw;
              transition: all 0.2s;
              &:hover {
                transform: scale(1.5);
                z-index: 10;
              }
              clip-path: polygon(0 0, calc(100% - 3vw) 0%, 100% calc(0% + 3vw), 100% 100%, calc(0% + 3vw) 100%, 0 calc(100% - 3vw));
              &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #48B4D8;
                top: 0;
                left: 0;
                clip-path: polygon(0 0, calc(100% - 3vw) 0%, 100% calc(0% + 3vw), 100% 100%, calc(0% + 3vw) 100%, 0 calc(100% - 3vw), calc(0% + 4px) calc(100% - (3vw + 2px)), calc(0% + (3vw + 2px)) calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) calc(3vw + 2px), calc(100% - (3vw + 2px)) 4px, 4px 4px, 4px calc(100% - (3vw + 2px)), 0px calc(100% - 3vw));
              }
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: auto;
                height: 100%;
              }
            }
          }
        }
      }
      .pu-wrap:nth-child(1) ul{
        animation: loop-slide-r 7s infinite linear;
      }
      .pu-wrap:nth-child(2){
        margin-top: -5vw;
      }
      .pu-wrap:nth-child(2) ul {
        animation: loop-slide-l 7s infinite linear;
      }
      .pu-wrap:hover ul {
        animation-play-state: paused;
      }
    }
  }
}