.menuSub{
  position: relative;
  z-index: 200;
  .ms-active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
  }
  .ms-inactive{
    display: none;
  }
  .ms-btn{
    position: fixed;
    top: 25px;
    right: 22px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #0055B4;
    cursor: pointer;
    z-index: 200;
    &:hover{
      .ms-dec-ex-1{
        p{
          transform: translateY(-25px);
        }
      }
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #fff;
      opacity: 0.8;
      border-radius: 50%;
      z-index: -10;
    }
    .ms-dec-ex-1{
      position: absolute;
      width: fit-content;
      height: 11px;
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translateX(-50%) translateY(-50%);
      overflow: hidden;
      p{
        position: relative;
        font-family: "Black Ops One", system-ui;
        font-weight: 100;
        color: #0055B4;
        font-size: 16px;
        transition: transform .2s ease-out, opacity 1s ease;
        margin: 1.2px 0 0 0;
        line-height: 11px;
        &::after{
          content: 'MENU';
          position: absolute;
          font-family: "Black Ops One", system-ui;
          font-weight: 100;
          font-size: 16px;
          top: 25px;
          left: 0;
        }
      }
    }
    .ms-text-off{
      opacity: 0;
    }
    .ms-ber-1{
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #0055B4;
      left: 50%;
      transform: translateX(-50%);
      transition: transform 1s ease;
      top: 20px;
    }
    .ms-ber-1-off{
      transform: translateX(-50%) translateY(9px) rotate(45deg);
    }
    .ms-ber-1-on{
      transition: transform 1s ease;
    }
    .ms-ber-2{
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #0055B4;
      left: 50%;
      transform: translateX(-50%);
      transition: transform 1s ease;
      bottom: 20px;
    }
    .ms-ber-2-off{
      transform: translateX(-50%) translateY(-9px) rotate(-45deg);
    }
  }
  >nav{
    position: fixed;
    top: 160px;
    width: 400px;
    height: calc(100vh - 220px);
    max-height: 744px;
    right: 22px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s ease, visibility 0.7s ease, top 0.7s ease;
    z-index: 90;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #0055B4;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
    &::-webkit-scrollbar{
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    dl{
      margin: 0;
      dt{
        font-size: 18px;
        color: #48B4D8;
        font-family: "Black Ops One", system-ui;
        font-weight: 100;
        font-style: normal;
        margin: 20px 0 0 0 ;
      }
      dd{
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 15px 0;
        a{
          color: #0055B4;
          text-decoration: none;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
    .ms-nav-list{
      display: flex;
      justify-content: center;
      ol{
        margin: 0 20px;
        padding: 0;
        li{
          margin: 20px 0 0 0 ;
          padding: 0 0 0 0;
          font-size: 14px;
          list-style-type: none;
          font-weight: bold;
          position: relative;
          .ms-dec-text-nav-2{
            position: absolute;
            margin-top: 20px;
            left: 33px;
            color: #48B4D8;
            font-size: 11.5px;
          }
          a{
            display: flex;
            text-decoration: none;
            color: #0055B4;
            margin: 0 0 25px 0;
            &:hover{
              opacity: 0.5;
            }
            p{
              padding: 0 10px 0 0;
              margin: 0;
              color: #48B4D8;
              font-family: "Black Ops One", system-ui;
              font-weight: 100;
              font-size: 18px;
            }
            .ms-dec-text-1{
              padding-right: 3px;
            }
            .ms-dec-text-2{
              padding-right: 4px;
            }
          }
        }
      }
    }
    .ms-pdf-link{
      dt{
        margin-top: 10px;
      }
      dd{
        width: fit-content;
        position: relative;
        a{
          position: relative;
          &::after{
            position: absolute;
            content: '';
            width: 30px;
            height: 30px;
            background-color: #0055B4;
            border-radius: 50%;
            top: -9.25px;
            right: -115px;
          }
          img{
            position: absolute;
            width: 15px;
            height: 15px;
            z-index: 10;
            top: -1.75px;
            right: -107.5px;
          }
        }
      }
    }
    .ms-top-link{
      margin: 60px auto 30px auto ;
      width: 100px;
      height: 100px;
      cursor: pointer;
      div{
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        position: relative;
        font-weight: bold;
        text-decoration: none;
        color: #0055B4;
        :hover{
          opacity: 0.8;
          animation: spin 2s linear infinite;
        }
        &::after{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: 0.8;
          z-index: -10;
          top: 0;
          left: 0;
        }
        p{
          font-size: 22px;
          width: 100%;
          margin: 3px 0 0 0;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          position: absolute;
          line-height: 22px;
          span{
            display: block;
            margin: -5px 0 0 0;
            font-size: 7px;
          }
        }
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          animation: spin 12s linear infinite;
        }
      }
    }
  }
  .ms-nav-on{
    top: 110px;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 800px) {
  .menuSub{
    .ms-btn{
      top: 10px;
      right: 10px;
      width: 53px;
      height: 53px;
      &:hover{
        .ms-dec-ex-1{
          p{
            transform: translateY(-22px);
          }
        }
      }
      .ms-dec-ex-1{
        height: 9.25px;
        p{
          font-size: 14px;
          margin: 1px 0 0 0;
          line-height: 9.5px;
          &::after{
            font-size: 14px;
            top: 22px;
          }
        }
      }
      .ms-ber-1{
        width: 30px;
        top: 18px;
      }
      .ms-ber-1-off{
        transform: translateX(-50%) translateY(7.5px) rotate(45deg);
      }
      .ms-ber-2{
        width: 30px;
        bottom: 18px;
      }
      .ms-ber-2-off{
        transform: translateX(-50%) translateY(-7.5px) rotate(-45deg);
      }
    }
    >nav{
      top: 130px;
      width: 280px;
      height: 60vh;
      max-height: 690px;
      right: 10px;
      opacity: 0;
      padding: 10px;
      dl{
        dt{
          font-size: 14px;
        }
        dd{
          font-size: 14px;
        }
      }
      .ms-pdf-link{
        dt{
          margin-top: 35px;
        }
        dd{
          width: fit-content;
          img{
            right: -87.5px;
          }
        }
      }
      .ms-nav-list{
        ol{
          &:nth-child(1){
            margin: 0 10px 0 0;
          }
          &:nth-child(2){
            margin: 0 0 0 10px;
          }
          li{
            padding: 0 0 0 35px;
            font-size: 11px;
            .ms-dec-text-nav-2{
              position: absolute;
              margin-top: 16px;
              left: 33px;
              color: #48B4D8;
              font-size: 9px;
            }
            p{
              position: absolute;
              top: -2px;
              left: 0;
              font-size: 15px;
            }
          }
        }
      }
      .ms-top-link{
        margin: 30px auto 10px auto;
        width: 80px;
        height: 80px;
        div{
          p{
            font-size: 16px;
            margin: 2px 0 0 0;
            line-height: 16px;
            span{
              margin: -3px 0 0 0;
              font-size: 5.5px;
            }
          }
        }
      }
    }
    .ms-nav-on{
      top: 83px;
    }
  }
}