.topBtn {
  position: relative;
  z-index: 10;
  width: fit-content;
  &:hover {
    div {
      transform: scale(1);
    }
  }
  img{
    width: 80px;
    height: auto;
  }
  div {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    z-index: -10;
    transition: transform 0.3s ease;
  }
  .tb-dec-bg-1{
    background-color: #E2F3F7;
  }
  .tb-dec-bg-2{
    background-color: #fff;
  }
}
@media (max-width: 800px) {
  .topBtn{
    img{
      width: 50px;
      height: 50px;
    }
    div{
      width: 50px;
      height: 50px;
    }
  }
}
